.model[@user]
  %h2= h @user.name
  %ul.attrs
    - if @user.email
      %li== Email: #{link_to h(@user.email), "mailto:#{h @user.email}", :class => 'email'}
    - if @user.link
      %li== Link: #{link_to h(@user.link), h(@user.href), :class => 'link'}
    %li== Comments: #{@user.comment_count}
    %li== Admin: #{delete_link}, #{link_to 'Edit', edit_user_path(@user)}