- restful_form do |f|
  = f.text_field :title
  = f.text_area :content
  = preview_button new_post_path, 'preview'
  = submit_tag 'Save Changes', :class => 'button'
#preview.content{:style => @post.content? ? '' : 'display: none'}
  = @post.render
