!!! XML
= xml_stylesheet 'main'
= xml_stylesheet 'coderay'
%feed{:xmlns => "http://www.w3.org/2005/Atom", 'xml:base' => feed[:url]}
  %title Blog Posts : Nex3
  %id= feed[:url]
  %updated= @posts[-1].created_at.xmlschema
  %icon= image_path('favicon.png')
  %author
    %name= feed[:name]
    %email= feed[:email]
    %uri= feed[:url]
  %link{:rel => 'self', :href => posts_path + '.atom'}/
  %link{:rel => 'alternate', :type => 'text/html', :href => '/'}/
  %rights
    All content available under a  Creative Commons Attribution-Share Alike 3.0 License
    (http://creativecommons.org/licenses/by-sa/3.0/)
  - for post in @posts
    %entry
      %id= post.uid
      %title= h post.title
      %updated= post.updated_at.xmlschema
      %published= post.created_at.xmlschema
      %author
        %name= feed[:name]
        %email= feed[:email]
        %uri= feed[:url]
      %content{:type => 'xhtml'}
        #content{:xmlns => "http://www.w3.org/1999/xhtml"}
          = stylesheet_link_tag 'main'
          = stylesheet_link_tag 'coderay'
          = post_content post
      %link{:rel => 'alternate', :href => post_path(post)}/
