- content_for :head do
  = auto_discovery_link_tag :atom, post_comments_url(@post) + '.atom', :title => "Comments : #{Nex3::Config['blog']['name']}"
= render :partial => 'post'
#comments
  %h2
    Comments
    = link_to '(Feed)', post_comments_url(@post) + '.atom'
  - for @comment in @post.comments_with_users
    = render :partial => 'comment'
  = render :partial => 'new_comment'
