- if admin?
  .sect.admin
    - sidebar_admin_links
.sect.links
  - sidebar_links
.sect.archives
  %h2 Archives
  %ul
    = list_of Post.months_spanned do |month|
      = link_to month.strftime('%B %Y'), :controller => 'posts', :action => 'dates', :year => month.year, :month => month.month
.sect.tags
  %h2 Tags
  %ul
    = list_of Tag.all_with_postcount do |tag|
      = link_to silk_tag('bullet_feed', :alt => 'Feed'), posts_path(:tag => tag.name, :format => 'atom'), :title => "Feed for #{tag.name}", :class => 'feed'
      = link_to h(tag.name.titleize), posts_path(:tag => tag.name)
      == &ndash; #{tag.post_count}
.sect.search
  %h2 Search
  - form_tag "/posts", :method => :get do
    %fieldset
      = submit_tag "Go", :class => 'button'
      = text_field_tag "query"
  #search_results
