.sect.links
  %ul
    = list_of sidebar_links do |name, url, opts|
      = link_to name, url, opts
.sect.archives
  %h2 Archives
  %ul
    = list_of Post.months_spanned do |month|
      = link_to month.strftime('%B %Y'), :controller => 'posts', :action => 'dates', :year => month.year, :month => month.month
.sect.tags
  %h2 Tags
  %ul
    = list_of Tag.all_with_postcount do |tag|
      = link_to h(tag.name.titleize), posts_path(:tag => tag.name)
      == &ndash; #{tag.post_count}
      = link_to '(Feed)', :controller => 'posts', :action => 'index', :format => 'atom', :tag => tag.name
.sect.search
  - form_tag "/posts", :method => :get do
    %fieldset
      = submit_tag "Search", :class => 'button'
      = text_field_tag "query"
  #search_results
