!!! XML
!!! 1.1
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head= render :partial => 'layouts/head'
  %body#body{:class => page_class}
    #full
      #header
        %h1
          %a{:href => '/'}= Nex3::Config['blog']['name']
        %p== By #{Nex3::Config['author']['name']}
      #main
        #sidebar= render :partial => 'layouts/sidebar'
        #content
          .flash
            - flash_display
          = yield
        #bottom
          - bottom_links
